<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Brinquedo</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Adicionar Novo Brinquedo</h1>
    <form action="/brinquedos" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br>
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" required><br>
        <label for="classificacao">Classificação:</label>
        <input type="text" id="classificacao" name="classificacao" required><br>
        <label for="tamanho">Tamanho:</label>
        <input type="text" id="tamanho" name="tamanho" required><br>
        <label for="preco">Preço:</label>
        <input type="number" id="preco" name="preco" step="0.01" required><br>
        <button type="submit">Adicionar Brinquedo</button>
    </form>
    <a href="/brinquedos">Voltar à Lista</a>
</div>
</body>
</html>
