<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Brinquedo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Detalhes do Brinquedo</h1>
    <p>ID: <span th:text="${brinquedo.id}"></span></p>
    <p>Nome: <span th:text="${brinquedo.nome}"></span></p>
    <p>Tipo: <span th:text="${brinquedo.tipo}"></span></p>
    <p>Classificação: <span th:text="${brinquedo.classificacao}"></span></p>
    <p>Tamanho: <span th:text="${brinquedo.tamanho}"></span></p>
    <p>Preço: <span th:text="${brinquedo.preco}"></span></p>
    <a th:href="@{/brinquedos/edit/{id}(id=${brinquedo.id})}" class="button">Editar</a>
    <a th:href="@{/brinquedos/delete/{id}(id=${brinquedo.id})}" class="button">Deletar</a>
    <a th:href="@{/brinquedos}" class="button">Voltar à Lista</a>
</div>
</body>
</html>
